

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    height: auto;
    width: 40vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.2);
    padding: 20px;
}
.container h4,input,button{
    margin-bottom: 10px;
}
.container input{
    outline: none;
    border: none;
    width: 100%;
    /* margin-left: 5px; */
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0,0.2);
    font-weight: bold;
    color: red;

}
.container button {
    background: black;
    color:white;
    outline: none;
    cursor: pointer;
    padding: 5px;
    /* float: right; */
}